.border {
  width: 12vw;
  height: 26.5vh;
  border: 10px solid #75d855;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img {
  width: auto;
  height: 80%;
}
