.border {
  width: 13vw;
  height: 29.5vh;
  border: 10px solid #75d855;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.img {
  width: auto;
  height: 80%;
}
